# Ignore the git upload notebook
notebooks/git_upload.ipynb

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Optional: ignore database or large data files
data/*.db
data/**/*.csv