# Ignore the git upload notebook
notebooks/git_upload.ipynb

# Ignore Jupyter checkpoints
**/.ipynb_checkpoints/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignore Python cache files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Optional: ignore database or large data files
data/*.db
data/**/*.csv

# Ignore local virtual environments
venv/
env/
.env

# Ignore OS-specific metadata
.DS_Store
Thumbs.db